# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Airflow runtime
airflow/logs/
airflow/airflow.db
airflow/*.pid

# MLflow experiment history
mlruns/
mlflow/

# Data (ignore everything except raw dataset)
data/*
!data/Telecom_processed.csv

# Docker
*.log

# OS files
.DS_Store
Thumbs.db
