version: "3.9"

services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: churn_api
    ports:
      - "8000:8000"
    networks:
      - monitor-net

  streamlit:
    build:
      context: .
      dockerfile: Docker.streamlit
    container_name: churn_streamlit
    ports:
      - "8501:8501"
    depends_on:
      - api
    environment:  
      - API_BASE=http://churn_api:8000
    networks:
      - monitor-net

  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    container_name: churn_prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api
      - cadvisor
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:10.2.2
    container_name: churn_grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge

volumes:
  grafana_data:
